.AQ-bg-img_wrapper {
	margin:0;
	padding:0;
	height: 100%;
	width:100%;
	position: fixed;
	z-index:0;
	top: 0;
	left:0;
	min-height: 100%;
}

.AQ-bg-img {
	content:"";
	margin:0;
	padding:0;
	background-image:url(../img/cover2.jpg);
	background-repeat:none;
	background-color: #222;
	background-size: cover;
	background-position: center top;
	-o-background-size: cover;
	-moz-background-size: cover;
	height: 100%;
	width:100%;
	background-attachment: scroll;
	position: absolute;
	z-index:0;
	top: 0;
	left:0;
	min-height: 100%;
}

.AQ-bg-img-overlay {
	background: #c6b54e;
	margin:0;
	padding:0;
	height: 100%;
	width:100%;
	position: absolute;
	z-index:1;
	top: 0;
	left:0;
	opacity:0.70;
	filter: alpha(opacity=70);
	min-height: 100%;
}

.AQ-box-wrapper {
	width:90%;
	max-width: 1024px;
    margin:0 auto;
	position: relative;
	z-index: 2;
}
